<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Erstelle ein Event">
  <ion-content class="padding">
    <form name="create_event_form" novalidate>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Event name</span>
                <input type="text" name="name" ng-model="new_event.name" ng-minlength="3" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Start</span>
                <input type="datetime-local" name="start_datetime" ng-model="new_event.start_datetime" required>
            </label>
            <!-- <label class="item item-input">
                <span class="input-label">Start time</span>
                <input type="time" name="start_time" ng-model="new_event.start_time" required>
            </label> -->
            <label class="item item-input">
                <span class="input-label">Ende</span>
                <input type="datetime-local" name="end_datetime" ng-model="new_event.end_datetime" required>
            </label>
            <!-- <label class="item item-input">
                <span class="input-label">End time</span>
                <input type="time" name="end_time" ng-model="new_event.end_time" required>
            </label> -->
        </div>
        <!-- <div class="padding">
            <p ng-show="myForm.username.$error.required">* Username is required</p>
            <p ng-show="myForm.username.$invalid && !myForm.username.$pristine">* Username must be an email address</p>
            <p ng-show="myForm.username.$error.minlength">* Username must be longer than 5 characters</p>
            <p ng-show="myForm.password.$error.required">* Password is required</p>
            <p ng-show="myForm.password.$error.minlength">* Password must be longer than 6 characters</p>
        </div> -->
        <div class="padding">
            <button type="button" class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="create_event()">Event erstellen</button>
        </div>
    </form>
  </ion-content>
</ion-view>
