<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Neues Teammitglied hinzufügen">
  <ion-content class="padding">
    <ion-radio name="select_user_radio" ng-repeat="chosen_user in users" ng-value="chosen_user.id" ng-model="data.id" ng-change="user_choice_changed(chosen_user)" name="choose_user">
       {{chosen_user.surname}}, {{chosen_user.prename}} ({{chosen_user.username}})
    </ion-radio>
    <div class="padding">
        <button type="button" class="button button-block button-positive" ng-disabled="!data.id" ng-click="add_user_to_team()">Teammitglied hinzufügen</button>
    </div>
  </ion-content>
</ion-view>
