<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Team bearbeiten">
  <ion-content class="padding">
    <form name="update_team_form" novalidate>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Team-Name</span>
                <input type="text" name="team_name" ng-model="team.team_name" ng-minlength="3" required>
            </label>
        </div>
        <!-- <div class="padding">
            <p ng-show="myForm.username.$error.required">* Username is required</p>
            <p ng-show="myForm.username.$invalid && !myForm.username.$pristine">* Username must be an email address</p>
            <p ng-show="myForm.username.$error.minlength">* Username must be longer than 5 characters</p>
            <p ng-show="myForm.password.$error.required">* Password is required</p>
            <p ng-show="myForm.password.$error.minlength">* Password must be longer than 6 characters</p>
        </div> -->
        <div class="padding">
            <button type="button" class="button button-block button-positive" ng-disabled="update_team_form.$invalid" ng-click="update_team()">Änderung speichern</button>
        </div>
    </form>
  </ion-content>
</ion-view>
