<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{team.name}}">
  <ion-content class="padding">
    <!-- <h2>
      Events
    </h2> -->
    <button class="button button-balanced" ng-click="go_to_create_event()">
      <big>Event erstellen</big>
    </button>
    <button class="button button-balanced" ng-click="go_to_add_user()">
      <big>Neues Teammitglied hinzufügen</big>
    </button>
    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="event in events" type="item-text-wrap">
        <h2>{{event.name}}</h2>
        <p>{{event.start_date}} {{event.start_time}} - {{event.end_date}} {{event.end_time}}</p>
        <p>Anwesend: {{event.count_accepted}}</p>
        <p>Abwesend: {{event.count_declined}}</p>
        <p>Nicht eingetragen: {{event.count_undecided}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list> -->
    <h2> Teammitglieder </h2>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in users" type="item-text-wrap">
         <!-- href="#/tab/account" -->
        <p>{{user.surname}}, {{user.prename}} ({{user.username}})</p>
        <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
        <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
      </ion-item>
    </ion-list>
    <button class="button button-assertive" ng-click="delete_team()">
      <big>Team löschen</big>
    </button>
    <button class="button button-positive" ng-click="go_to_update_team()">
      <big>Team bearbeiten</big>
    </button>

  </ion-content>
</ion-view>
