<ion-view view-title="Teams">
  <ion-content>
    <!-- <button class="button button-assertive" ng-click="show_popup_create_team()">
      <h1>+</h1>
    </button> -->
    <ion-list>
      <button class="button button-balanced" ng-click="go_to_create_team()">
        <big>Team erstellen</big>
      </button>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="team in teams" type="item-text-wrap" ng-click="go_to_team_detail({{team.id}})">
        <!-- <img ng-src="{{chat.face}}"> -->
        <h2>{{team.name}}</h2>
        <!-- <p>{{chat.lastText}}</p> -->
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!-- <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button> -->
      </ion-item>
      <!-- <h4 ng-if="there_are_no_teams">Du bist in noch keinem Team. Erstelle dir eins oder trete einem bei.</h4> -->
    </ion-list>
  </ion-content>
</ion-view>
