<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{team.name}}">
  <ion-content class="padding">
    <h2> Anwesenheit </h2>
    <ion-list>
      <ion-item ng-class="get_item_class({{user}})" ng-repeat="user in users" type="item-text-wrap">
        <!-- <img ng-src="{{chat.face}}"> -->
        <h2>{{user.surname}}, {{user.prename}} ({{user.username}})</h2>
        <!-- <p>Anwesend: {{user.accepted}}  Abwesend: {{user.declined}}  Nicht eingetragen: {{user.undecided}}</p> -->
        <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
      </ion-item>
    </ion-list>
    <button class="button button-assertive" ng-click="delete_event()">
      <big>Event löschen</big>
    </button>
    <button class="button button-positive" ng-click="go_to_update_event()">
      <big>Event bearbeiten</big>
    </button>
  </ion-content>
</ion-view>
