<ion-view view-title="Events">
  <ion-content>
    <ion-list>
      <ion-item ng-class="get_item_class({{event}})" ng-repeat="event in events" type="item-text-wrap" ng-click="go_to_event_detail({{event.id}})">
        <!-- <img ng-src="{{chat.face}}"> -->
        <h2>{{event.name}}</h2>
        <p>{{event.start_date}} {{event.start_time}} - {{event.end_date}} {{event.end_time}}</p>
        <p>Anwesend: {{event.count_accepted}}</p>
        <p>Abwesend: {{event.count_declined}}</p>
        <p>Nicht eingetragen: {{event.count_undecided}}</p>

        <button class="button button-balanced" ng-click="accept_event({{event.id}});">
          <h2>Anwesend</h2>
        </button>
        <button class="button button-assertive" ng-click="decline_event({{event.id}}); event.stopImmediatePropagation();">
          <h2>Weg</h2>
        </button>
        <button class="button button-stable" ng-click="undecide_event({{event.id}}); event.stopImmediatePropagation();">
          <h2>Nicht eingetragen</h2>
        </button>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <!-- <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button> -->
      </ion-item>
    </ion-list>
    <!-- <h4 ng-if="there_are_no_events">Du hast noch keine Events. Trete einem Team mit Events bei oder erstelle Events für deine Teams.</h4> -->
  </ion-content>
</ion-view>
