<ion-view view-title="Account">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Abmelden</button>
  </ion-nav-buttons>

  <ion-content>

    <h2> Kontodaten </h2>
    <h4> Benutzername: {{user.username}} </h4>
    <h4> Nachname: {{user.surname}} </h4>
    <h4> Vorname: {{user.prename}} </h4>
    <hr>
    <button class="button button-positive" ng-click="go_to_update_account()">
      <big>Profil bearbeiten</big>
    </button>
    <button class="button button-assertive" ng-click="delete_user()">
      <big>Benutzer löschen</big>
    </button>

  </ion-content>
</ion-view>
