<ion-view view-title="Registrieren" name="sign-up-view">
  <ion-content class="padding">
    <form name="update_names_form" novalidate>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Nachname</span>
                <input type="text" name="surname" ng-model="update_names_user.surname">
            </label>
            <label class="item item-input">
                <span class="input-label">Vorname</span>
                <input type="text" name="prename" ng-model="update_names_user.prename">
            </label>
        </div>
        <div class="padding">
            <button type="button" class="button button-block button-positive" ng-click="update_names()">Änderung speichern</button>
        </div>
    </form>

    <!-- <label class="item item-input">
        <span class="input-label">Passwort *</span>
        <input type="password" name="password" ng-model="new_user.password" ng-minlength="6" required>
    </label>
    <label class="item item-input">
        <span class="input-label">Passwort wiederholen *</span>
        <input type="password" name="password_repeat" ng-model="new_user.password_repeat" required>
    </label> -->
    <!-- <div class="padding">
        <p ng-show="signup_form.username.$error.required">* Es wird ein Benutzername benötigt</p>
        <p ng-show="signup_form.username.$invalid && !myForm.username.$pristine">* Username must be an email address</p>
        <p ng-show="signup_form.username.$error.minlength">* Benutzername muss länger als 5 Zeichen sein</p>
        <p ng-show="signup_form.password.$error.required">* Es wird ein Passwort benötigt</p>
        <p ng-show="signup_form.password.$error.minlength">* Passwort muss länger als 6 Zeichen sein</p>
        <p ng-show="is_not_identical()">* Passwörter müssen übereinstimmen</p>
    </div> -->
  </ion-content>
</ion-view>
