<ion-view view-title="Einloggen" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-positive" ng-click="login(data)">Anmelden</button>
      <button class="button button-block button-balanced" ng-click="go_to_signup()">Noch nicht registiert? Klicke hier.</button>
  </ion-content>
</ion-view>
