<ion-view view-title="Registrieren" name="sign-up-view">
  <ion-content class="padding">
    <form name="signup_form" novalidate>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Benutzername *</span>
                <input type="text" name="username" ng-model="new_user.username" ng-minlength="5" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Nachname</span>
                <input type="text" name="surname" ng-model="new_user.surname" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Vorname</span>
                <input type="text" name="prename" ng-model="new_user.prename" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Passwort *</span>
                <input type="password" name="password" ng-model="new_user.password" ng-minlength="6" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Passwort wiederholen *</span>
                <input type="password" name="password_repeat" ng-model="new_user.password_repeat" required>
            </label>
        </div>
        <div class="padding">
            <p ng-show="signup_form.username.$error.required">* Es wird ein Benutzername benötigt</p>
            <!-- <p ng-show="signup_form.username.$invalid && !myForm.username.$pristine">* Username must be an email address</p> -->
            <p ng-show="signup_form.username.$error.minlength">* Benutzername muss länger als 5 Zeichen sein</p>
            <p ng-show="signup_form.password.$error.required">* Es wird ein Passwort benötigt</p>
            <p ng-show="signup_form.password.$error.minlength">* Passwort muss länger als 6 Zeichen sein</p>
            <p ng-show="is_not_identical()">* Passwörter müssen übereinstimmen</p>
        </div>
        <div class="padding">
            <button type="button" class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="signup()">Registrieren</button>
        </div>
    </form>
  </ion-content>
</ion-view>
