<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view>
  <ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Account Tab -->
    <ion-tab title="Account" icon-off="ion-person" icon-on="ion-person" href="#/tab/account">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

    <!-- Events Tab -->
    <ion-tab title="Events" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/events">
      <ion-nav-view name="tab-events"></ion-nav-view>
    </ion-tab>

    <!-- Teams Tab -->
    <ion-tab title="Teams" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/teams">
      <ion-nav-view name="tab-teams"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
<ion-view>
